<!DOCTYPE html>
<html>
  <head>
    <title>Everlywell Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <class = "Hello">
		<h3> <%=link_to "Create a New Member", new_member_path%> </h3>
		<br>
		<h3> <%=link_to "See All Members", members_path%> </h3>
    </class>
    <%= yield %>
  </body>
</html>
