<h2>Information About <%=@member.name%>!</h2>
	Name: <%=@member.name%>
	<br></br>
	Website (Long Version): 
	<a href=<%=@member.website%>> <%=@member.website%>
	</a>
	<br></br>
	Shortened Link to Website:  <a href=<%=@member.shortened_weblink%>>
<%=@member.shortened_weblink%></a>
	
<br></br>
<%=link_to "Edit Member Profile", edit_member_path(@member)%>